{{- /* Site override of PaperMod's home_info.html.
       카드 박스 없이 여백과 타이포만으로 된 인트로. 인기 글은
       list.html의 .home-top 오른쪽 칸으로 옮겼다(popular_posts.html). */ -}}
{{- with site.Params.homeInfoParams }}
<header class="home-intro">
    <p class="home-intro-kicker">tomworld</p>
    <h1>{{ .Title | markdownify }}</h1>
    <div class="home-intro-text">
        {{ $opts := dict "display" "block" }}
        {{ .Content | $.Page.RenderString $opts }}
    </div>
    {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
</header>
{{- end -}}
